h1{
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    font-weight: 700;
    transform: translate(-50%, -50%);
    text-align: center;
}

body{
    background-color: lightblue;
}

.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.list{
    position: relative;
}